##############################################################################
# BEGIN Global/macOS.gitingore
#
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
#
# END Global/macOS.gitingore
##############################################################################
##############################################################################
# BEGIN QB.gitingore
#
# Generated QB playbooks
.qb-playbook.yml

# Ansible-generated retry files for QB playbooks
.qb-playbook.retry

# Ansible error files that QB still sometimes generates
ansible-error.log
#
# END QB.gitingore
##############################################################################
/tmp
